/* Fix topic page images */
img.thumbnail {
	margin-top:4em
}

/* Entire global header */

div.global-header {
 padding-top:1em;
}

.btn-primary {
	font-size: 16px;!important
}

body {
	background-color: white !important;
}

/* Entire global header */

div.global-header {

}

	/* Main menu */

	div#mainmenu {
		width: 0;
		position: absolute;
		overflow: hidden;
		z-index: 1000;
		top: 0;
		right: 0;
		transition: 0.25s;
		background-color: #fff;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		font-size: 16px;
	}

	div#mainmenu p {
		text-align: right;
		margin: 0;
	}

	div#mainmenu h2 {
		font-size: 20px;
	}

	div#mainmenu nav {
		width: 400px;
		padding: 20px;
	}

	div#mainmenu nav ul {
		list-style-type: none;
		margin: 0 0 0 0;
		padding: 0;
		clear: both;
		font-size: 15px;
	}

	div#mainmenu nav ul li {
		xxxborder-bottom: 1px solid #fff;
	}
	div#mainmenu nav ul li.currentsection {
		xxxborder-bottom: 1px solid #fff;
	}

	div#mainmenu nav ul li a {
		color: #000000 !important;
		display: block;
		padding: 5px 10px 5px 0px;
		xxxbackground-color: #eee;
		text-decoration: none !important;
	}
	div#mainmenu nav ul li.currentsection a {
		color: #3269c1 !important;
		xxxfont-weight: bold;
	}
	div#mainmenu nav ul li.currentsection a:after {
		/*
		color: #333;
          content: " ";
          font-family: "Glyphicons Halflings";
          font-size: 0.7em;
		*/
	}

	div#mainmenu nav ul li.currentsection a:hover {
		xxxcolor: #000 !important;
	}
	div#mainmenu nav ul li a:hover {
		color: #3269c1 !important;
		xxxbackground-color: #ddd;
		text-decoration: none !important;
	}
	div#mainmenu nav ul li a:visited {
		color: #000;
		text-decoration: none !important;
	}

		/* Nested submenus */

		div#mainmenu nav ul ul {
			xxxborder-top: 1px solid #fff;
			border-top: 0;
			display: none;
			overflow: hidden;
			font-size: 14px;
		}

			div#mainmenu nav ul li.currentsection ul {
				display: block;
			}

			div#mainmenu nav ul ul li:last-child {
				border-bottom: 0;
			}

			div#mainmenu nav ul ul a {
				xxxbackground-color: #f6f6f6;
				padding: 3px 10px 3px 20px;
			}

			div#mainmenu nav ul li.currentsection ul a {
				color: #000000 !important;
				xxxfont-weight: normal;
			}
			div#mainmenu nav ul li.currentsection ul a:after {
		          /*
				color: #fff;
		          content: " ";
				*/
			}
			div#mainmenu nav ul li.currentsection ul a:hover {
				color: #3269c1 !important;
			}

			div#mainmenu nav ul li.currentsection ul li.currentsection a {
				color: #3269c1 !important;
				xxxfont-weight: bold;
			}
			div#mainmenu nav ul li.currentsection ul li.currentsection a:after {
				/*
				color: #333;
		          content: " ";
		          font-family: "Glyphicons Halflings";
		          font-size: 0.7em;
				*/
			}

	/* Visible banner area */

	div#wb-bnr {
		position: relative;
	}

		/* FIP column */

		div.brand {

		}

		/* Language link */

		p.langlink {
			font-size: 16px;
			margin: 0;
		}

		p.langlink a {
			color: #000;
		}
		p.langlink a:visited {
			color: #000;
		}

		/* Site search */

		div.searchform {
			position: relative !important;
			}

			div.searchform h2 {
				}

			div.searchform form {
				margin-top: 17px;
				}

			div.searchform input {
				}

			div.searchform .form-control {
				font-size: 14px !important;
				}

			div.searchform select {
				display: none !important;
				}

		/* Crumb trail */

		div.breadcrumbtrail {
			border-radius: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

			nav#wb-bc {
				font-size: 16px;
				background-color: transparent;
			}

			nav#wb-bc ol.breadcrumb {
				padding-left: 0;
				padding: 0;
				margin-top: 15px;
				margin-bottom: 10px;
			}

		/* Menu button */

		button#showMainmenu {
			font-size: 16px;
			margin-left: 7px;
		}

		/* Theme menu button */

		button#showThememenu {
			margin-top: 10px;
			margin-bottom: 10px;
		}

	/* theme menu */

	div.thememenu {
		display: none;
		margin-bottom: 30px;
		padding: 20px 0 30px 4px;
		z-index: 100;
		background-color: #f9f9f9;
		xxxborder: 1px solid #ccc;
		font-size: 15px;
	}

		div.thememenu h2 {
			margin: 10px 1em 1em 15px;
		}

		div.thememenu p {
			position: absolute;
			top: 0;
			right: 25px;
		}

		div.thememenu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		div.thememenu ul li {
			width: 33.2%;
			zzzborder-bottom: 1px solid #fff;
			float: left;
			margin-right: 1px;
		}

		div.thememenu ul li a {
			color: #000;
			display: block;
			padding: 7px 17px 7px 17px;
			zzzbackground-color: #eee;
			text-decoration: none !important;
		}
		div.thememenu ul li a:hover {
			color: #3269c1 !important;
			xxxbackground-color: #ddd;
			text-decoration: none !important;
		}
		div.thememenu ul li a:visited {
			color: #000;
			text-decoration: none !important;
		}

/* main content area */

main.container {
	padding-top: 0;
}

/* footer */

#wb-info a {
	font-size: 16px;
	}
