
/* Basic page rules */

body {
	margin-top: 20px;
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	background-color: #fff;
}

h1, h2, h3, h4, h5 {
	font-family: 'Noto Sans', sans-serif;
	font-family: 'Merriweather', serif;
}

h3 a {
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	font-weight: normal;
}

/* Entire global header */

div.global-header {

}

	/* Main menu */

	div#mainmenu {
		width: 0;
		xxxwidth: 900px;
		height: 100%;
		position: absolute;
		overflow: hidden;
		z-index: 1000;
		top: 0;
		left: 0;
		transition: 0.25s;
	}

		div#mainmenu div#mainmenucolours {
			position: absolute; 
			height: 100%;
			width: 100%;
			width: 900px;
		}
			div#mainmenu div#mainmenucolours div#topmenucolour {
				position: absolute; 
				height: 100%;
				width: 50%;	
				background-color: #26374a;	
			}
			div#mainmenu div#mainmenucolours div#thememenucolour {
				position: absolute; 		
				right: 0;
				height: 100%;
				width: 50%;	
				background-color: #dce3e7;		
			}

		div#mainmenu nav {
			width: 900px;
		}
	
			div#mainmenu p.closebutton {
				position: absolute;
				z-index: 900;
				top: 15px;
				right: 15px;
				margin: 0;
			}
			
			/* styles shared by both menus */

			div#mainmenu ul {
				list-style-type: none;
				margin: 0 0 0 -20px;
				padding: 0;
			}
				
			div#mainmenu a {
				display: block;
				padding: 10px 10px 10px 20px;
				text-decoration: none !important;
			}
		
			/* top-level menu */
		
			div#mainmenu div.topmenu {
					width: 50%;
					height: 100%;
					float: left;
					padding: 40px 0px 40px 40px;
					position: relative;
					z-index: 100;
					color: #fff;
					background-color: #26374a;
				}
			
				div#mainmenu div.topmenu h2 {
					margin: 0 0 1em 0;
					font-size: 20px;
				}
			
				div#mainmenu div.topmenu a, 
				div#mainmenu div.topmenu a:visited {
					color: #fff;
				}
				div#mainmenu div.topmenu a:hover {
					color: #ddd;
					xxxbackground-color: #dce3e7;
				}
			
				div#mainmenu div.topmenu li.currentsection a {
					color: #000;
					background-color: #dce3e7;
					xxxfont-weight: bold;
					padding-left: 20px;
				}
				
				/* Nested submenus of the top level menu */
		
				div#mainmenu div.topmenu ul ul {
					display: none;
				}
			
			/* theme menu */
		
			div#mainmenu div.thememenu {
					width: 50%;
					height: 100%;
					float: left;
					padding: 40px 0px 40px 40px;
					position: relative;
					z-index: 100;
					color: #000;
					background-color: #dce3e7;
				}
			
				div#mainmenu div.thememenu h2 {
					margin: 2.5em 0 1em 0;
					font-size: 20px;
				}
			
				div#mainmenu div.thememenu a, 
				div#mainmenu div.thememenu a:visited {
					color: #000;
				}
				div#mainmenu div.thememenu a:hover {
					xxxcolor: #000;
					xxxbackground-color: #fff;
					opacity: 0.6;
				}
			
				div#mainmenu div.thememenu li.currentsection a {
					xxxcolor: #000;
					xxxbackground-color: #fff;
				}

	/* Visible banner area */

	div#wb-bnr {
		position: relative;
	}

		/* FIP column */

		div.brand {

		}

		/* Language link */

		p.langlink {
			font-size: 16px;
			margin: 0;
		}

		p.langlink a {
			color: #000;
		}
		p.langlink a:visited {
			color: #000;
		}

		/* Site search */

		div.searchform {
			position: relative !important;
			}

			div.searchform h2 {
				}

			div.searchform form {
				margin-top: 17px;
				}

			div.searchform input {
				}

			div.searchform .form-control {
				font-size: 14px !important;
				}

			div.searchform select {
				display: none !important;
				}

		/* Crumb trail */

		div.breadcrumbtrail {
			border-radius: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

			/* Menu button */
	
			button#showMainmenu {
				margin-top: 10px;
				margin-right: 30px;
				float: left;
			}

			/* Rest of crumb trail */

			div.breadcrumbtrail {
				border-radius: 0;
				padding-top: 0;
				padding-bottom: 0;
				float: left;
			}

			nav#wb-bc {
				xxfont-size: 16px;
				background-color: transparent;
			}

			nav#wb-bc ol.breadcrumb {
				padding-left: 0;
				padding: 0;
				margin-top: 15px;
				margin-bottom: 10px;
			}

/* main content area */

div#main {
	position: relative;
}

/* main content area - actual content */

main.container {
	padding-top: 0;
}

/* footer */

#wb-info a {
	font-size: 18px;
	}
