@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin,latin-ext');

/* start font customizations */

h1 {

	font-size: 39px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
	border-bottom: 1px solid #af3c43


}

.mini-h2s {

	padding-top: 0px !important;
	margin-top: 25px !important;
	font-size: 24px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
}


h2 {

	font-size: 32px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
	padding-top: 15px !important;


}


h3 {

	font-size: 28px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
	padding-top: 5px !important;

}


h4 {

	font-size: 24px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
}



h5 {

	font-size: 23px !important;
	font-weight: 600 !important;
	font-family: 'Lato', sans-serif;
}


/* larger font size for text-heavy content */
.p-content

{

	font-size: 20px !important;
	font-family: 'Noto sans', sans-serif !important;
	line-height: 34px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;

}


/* On this page, reducing size as an h2*/
.smh3 {

	font-size: 28px !important;
	margin-bottom: 0px !important;

}

/* topic links */

.ch5 {

	font-size: 20px !important;

}


.mr-home {

	font-size: 18px !important;
	font-weight: 600 !important;
	padding-bottom: 7px ;
	font-family: 'Lato', sans-serif !important;

}



body, header, nav#wb-bc {


	background-color: white !important;
	font-family: 'Noto Sans', sans-serif;

	}

#wb-dtmd {

	font-size: 16px !important;

}

/*
ul.menu li {

	font-size: 16px !important;
	line-height: 22px !important;
}

*/



.green-2 {
/* AAA pass on lrg text */
	margin-top: 15px !important;
	margin-bottom: 25px !important;
	font-size: 22px !important;
	color: white !important;
	background-color: #318000 !important;
	border: 1px solid #455E82 !important;
	font-weight: 600 !important;
	font-family: "Lato";
	padding: 10px 20px 10px 20px !important;

}



.is-size-5 {

		font-size: 19px !important;

}
p, ul, li {


	font-size: 17px !important;
	line-height: 26px !important;



}

strong {

	  font-weight: 600 !important;

}


td {

	font-size: 19px !important;
	font-family: 'Noto sans', sans-serif; !important;

}

caption, th {

	font-size: 17px !important;
	font-family: 'Noto sans', sans-serif; !important;

}

abbr {

	border-bottom: none !important;
	text-decoration: none !important;
}

.onpage {

	padding-bottom: 20px;
}

/* controls bullet spacing */

.bullet {


		font-size: 19px !important;
			line-height: 28px !important;
			list-style-type: disc !important;
			color: black;

		margin-left: 50px;

}

.content-bullet {


	font-size: 20px !important;
		line-height: 35px !important;
		list-style-type: disc !important;
		color: black;

	margin-left: 50px;



}

/* used when bullets are more than short points, and run 2 full lines or more */

.multi-bullet {

	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-size: 20px !important;
		line-height: 30px !important;
		list-style-type: disc !important;
		color: black;
			margin-left: 50px;

}
/* font size in li of breadcrumb */

.cust-breadcrumb {

	font-size: 16px !important;



}



/* removing padding that pushes content down a lot */
.breadcrumb {

	margin-bottom: -20px !important;
	padding-top: 2px !important;
}




.list-group-item {


background-color: #F8F8F8;

	}

/* menu items */

.cust-small   {

	margin-top: -3px !important;
	font-size: 16px !important;



}


/* for the active menu item color */

.cust-active   {

	background-color: #4d4d4d !important;
	border-color: #8f8f8f  !important;

}



.text-banner {

	color: white;
	margin-top: 8px;


}

.text-background-1 {

		background-color: #26374a;
		padding-top: 15px;
		/* opacity: .95; */

}


.text-background-2 {

		background-color: #26374a;
		padding-bottom: 15px;
		/* opacity: .95; */
}


.your-gov {
	 background-image: url("../images/your-gov.jpg");
    background-color: #f0f0f0;
    display: inline-block;
    padding-top: 30px !important;
    padding-bottom: 40px !important;
		background-repeat: no-repeat;

		background-position: right center;
}

.your-gov-2 {
	 background-image: url("../images/your-gov-2.jpg");
    display: inline-block;
    padding-top: 30px !important;
    padding-bottom: 40px !important;
		background-repeat: no-repeat;

		background-position: right center;
}

.by-aud {
	 background-image: url("../images/audience.jpg");
    background-color: #f0f0f0;
    display: inline-block;
    padding-top: 30px !important;
    padding-bottom: 40px !important;
		background-repeat: no-repeat;

		background-position: right center;
}

.edge-color {
    background-color: #f0f0f0;
    display: inline-block;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 15px;

}

.homeborder {

	font-weight: 500 !important;
	font-family: 'Lato', sans-serif;
	border-bottom: 4px solid #af3c43;


}

.canadamenu {

	display: inline-block;
	width: 100%;
	max-height: 100px;
	/* border-bottom: 1px solid #38414d; */
	border-top: 3px solid #38414d;
		margin-top: 10px;
}

.homemenu {

	display: inline-block;
	width: 100%;
	max-height: 100px;
	/* border-bottom: 1px solid #38414d; */
	border-top: 1px solid #ddd;
	margin-top: 10px;
}


.img-banner {

background-image: url("../images/canada-bkg.jpg");
	background-color: #26374a;
  background-repeat: no-repeat;
  background-size:100% auto;
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;

}

.content-restrict {

	display: inline-block !important;
	position: relative;
	max-width: 70em;

}


.footer-text {

	color: white !important;

}


.parliament
{

	background-image: url("../images/parliament-vector.png");
	background-color: #26374a;
	background-repeat: no-repeat;
	background-position: right bottom;


}
.brand {

	background: white !important;
	border-top: none !important;
}

section.lnkbx ul {

	padding-top: 15px;
	padding-bottom: 18px;
}




.init-box {

	padding: 15px;
	min-height: 135px;
	background-color: #f9f9f9 !important;
	border: 1px #ddd solid;

}

.init {
	margin-top: 0px;
	margin-left: 15px;
	margin-right: 15px;
	font-size: 20px !important;

}


/*  tablet/mobile fonts customizations and scaling */

@media screen and (max-width: 1200px) {

	.init-box {

		padding: 15px;
		min-height: 155px;
		max-height: 185px;
		background-color: #f9f9f9 !important;
		border: 1px #ddd solid;

	}

	p, ul, li {


		font-size: 19px !important;
		line-height: 26px !important;

	}

	h1 {
			font-size: 32px !important;

		}

	h2 {
				font-size: 32px !important;

			}

	h3 {
				font-size: 26px !important;

					}

	h4 {
						font-size: 24px !important;
									}

	h5 {
				font-size: 21px !important;

							}

	.ch5 {

				font-size: 21px !important;

							}

		.mr-home {

								font-size: 19px !important;

							}

			.breadcrumb {

				margin-top: 15px !important;
				margin-bottom: 12px !important;
			}

}
