


	/* Main menu */

	div#mainmenu {

		position: absolute;
		overflow: hidden;
		z-index: 1000;
		padding-right: 20px;
		padding-left: 20px;
		transition: 0;
		background-color: #eee;
		background-color: #fff;
		border-left: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

	}

	div#mainmenu p {
		text-align: right;

	}

  .submainmenu li {
    text-indent: 1.5em;
  }



	div.searchform {
		xx	display: none;
	}

		div.searchform h2 {
			font-size: 20px;
			margin-top: 0em;
		}

		div.searchform input {
			padding-left: 8px;
			}

		div.searchform .form-control {
			font-size: 14px !important;
			margin-bottom: 5px;
			}

		div.searchform select {

			}

	div#mainmenu {
			margin-right: 100px;
	}

	div#mainmenu nav ul {
		list-style-type: none;
		margin: 0 0 0 0;
		padding: 0;
		clear: both;
	}

	div#mainmenu nav ul li {
		border-bottom: 1px solid #fff;
	}

	div#mainmenu nav ul li a {
		color: #000;
		display: block;
		padding: 10px 10px 10px 15px;
		background-color: #eee;
		text-decoration: none !important;
		
	}
	div#mainmenu nav ul li a:hover {
		color: #333;
		background-color: white;
		text-decoration: none !important;

	}
	div#mainmenu nav ul li a:visited {
		color: #000;
		text-decoration: none !important;
	}

		/* Nested submenus */

		div#mainmenu nav ul ul {
			border-top: 1px solid #fff;
			border-top: 0;
			display: none;
			overflow: hidden;
			font-size: 14px;
		}

			div#mainmenu nav ul ul li:last-child {
				border-bottom: 0;
			}

			div#mainmenu nav ul ul a {
				display: inline-block;
				background-color: #f6f6f6 !important;
				text-indent:0!important;
				padding: 7px 10px 7px 10px;

			}

	/* Visible banner area */

	div#wb-bnr {
		position: relative;
	}


		/* theme menu */

		div.thememenu {
			display: none;
			zzposition: absolute;
			margin-bottom: 30px;


			padding: 40px 40px 30px 40px;
			z-index: 100;
			background-color: #f9f9f9;
			xborder-top: 1px solid #ccc;
			border: 1px solid #ccc;
			font-size: 15px;
		}

			div.thememenu h2 {
				margin: 10px 1em 1em 15px;
			}

			div.thememenu p {
				position: absolute;
				top: 0;
				right: 25px;
			}

			div.thememenu ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			div.thememenu ul li {

				zzzborder-bottom: 1px solid #fff;
				float: left;
				margin-right: 1px;
			}

			div.thememenu ul li a {
				color: #000;
				display: block;
				padding: 7px 17px 7px 17px;
				zzzbackground-color: #eee;
				text-decoration: none !important;
			}
			div.thememenu ul li a:hover {
				color: #000;
				background-color: #ddd;
				text-decoration: none !important;
			}
			div.thememenu ul li a:visited {
				color: #000;
				text-decoration: none !important;
			}

.hide-me-menu

{
		z-index: 1000;
}
